/* Estilos generales para la aplicación */
.App {
    font-family: sans-serif;
    text-align: center;
}

/* Estilo de fondo para el cuerpo del documento */
body {
    background-color: pink;
}

/* Estilos para los encabezados dentro de la aplicación */
.App h1 {
    color: yellow;
}

/* Estilos para las imágenes dentro de la aplicación */
.App img {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 100%;
}

/* Estilos para los botones dentro de la aplicación */
.App button {
    background-color: palevioletred;
    color: yellow;
    border: 2px solid yellow;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
}